.notification_item {position: relative;}

.qbn_filter {text-transform: capitalize; cursor: pointer;}
	.qbn_filter:not(.active) {color:#ddd !important}
.hidden_notification {display:none !important;}
.qbn_notification_unread{width: 10px;height: 10px;background: #C5C4C4;border-radius: 50%;position: absolute;right: -25px;top: 50%;cursor: pointer}
.qbn_counter {color: #CE2A2A;}
.topics_filter select{max-width: 145px}

/* CSS Overrides */
.NewNotificationsMain .grid_page_wrap .grid_page_center_col h3 {position: fixed;top: 45px;z-index: 599;width: 525px;background: #fff;padding: 5px 0;}
.NewNotificationsMain .grid_page_wrap .grid_page_center_col {margin-left: 215px !important}
.NewNotificationsMain .grid_page_wrap .grid_page_left_col {position: fixed;}