.qbn_filter {text-transform: capitalize; cursor: pointer;}
	.qbn_filter:not(.active) {color:#ddd !important}
.qbn_notification{width: 10px;height: 10px;background: #CE2A2A;border-radius: 50%;position: absolute;left: -25px;top: 50%;}
.hidden_notification {display:none !important;}
.qbn_notification_unread{width: 10px;height: 10px;background: #C5C4C4;border-radius: 50%;position: absolute;right: -25px;top: 50%;cursor: pointer}
.qbn_counter {color: #CE2A2A;}
h1.heading, .heading_section {margin-bottom: 5px !important}
.topics_filter {margin:10px 0 0;width: 100%;text-align: right;display: block;padding-bottom: 0.4em;}
.notification .notification_text {padding: 0 5px !important}
h1.heading{position: fixed !important;z-index: 9999!important;background: #fff!important;width: 485px!important;top: 56px!important;padding: 10px 0!important;}
ul.notifications_list .pagedlist_item:first-child {margin-top:60px}
.hover_menu.fixable_fixed{z-index:99999 !important;}